.logo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: #2C3450;
    margin: 30px auto 30px auto;
}

.leftSideNav {
    background: #1F263B!important;
    border-right: 4px solid #2D3247;
}

.leftSideNavMenu {
    background: transparent;
    border: none;
    color: #FFFFFF;
}

.leftSideNavMenu a {
    color: #FFFFFF;
}

.leftSideNavMenuItem {
    background: transparent;
    font-size: 18px;
}

.leftSideNavMenuItem:hover {
    background: #3b4870;
}

.leftSideNavSubMenu {
    background: transparent;
    font-size: 18px;
}

.leftSideNavSubMenuItem {
    font-size: 15px;
}

.topNav {
    background: #1F263B;
    padding: 0;
}

.breadcrumb {
    margin: 16px 0;
    color: white;
}

.breadcrumbItem {
    color: white
}

.siteLayout {
    background: #1F263B;
}

.content {
    background: rgb(44, 52, 80);
    margin: 2%;
    border-radius: 10px;
}

.footer {
    background: #1F263B;
    text-align: center;
    color: white;
}