.ant-table tr, .ant-table th{
    text-align: center;
}
.ant-table-container table > thead > tr > th {
    text-align: center;
}
.ant-table {
    color: white;
    background-color: #2C3450;
    line-height: 8px;
}
.ant-table .ant-table-thead th{
    color: white;
    background-color: #2C3450;
}

.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
    background-color: #2D3247;
    color: rgb(238, 187, 187);
}

td.ant-table-column-sort {
    background-color: #2C3450;
}